name: "Deploy ArmoniK"
description: "Action to deploy ArmoniK"
inputs:
  type:
    description: 'Type of deployment (either "aws" or "localhost")'
    required: true
  core-version:
    description: "Version of core to deploy"
    required: false
    default: ""
  gui-version:
    description: "Version of gui to deploy"
    required: false
    default: ""
  ext-csharp-version:
    description: "Version of Extension Csharp to deploy"
    required: false
    default: ""
  prefix:
    description: "Prefix for the deployment"
    required: false
    default: "armonik-cicd"
  tls:
    description: "Use TLS for ingress"
    required: false
    default: false
  mtls:
    description: "Use mTLS for ingress"
    required: false
    default: false
  generate-client-cert:
    description: "Generate custom client certificates"
    required: false
    default : false
  custom-client-ca:
    description: "Path to custom client certificate authority"
    required: false
    default: ""
  require-authentication:
    description: "Use authentication"
    required: false
    default: false
  require-authorization:
    description: "Use authorization"
    required: false
    default: false
  trusted-cns:
    description: "List (of strings) of trusted common names"
    required: false
    default: '[]'
  auth-datafile:
    description: "Path to custom authentication configuration data file"
    required: false
    default: ""
  working-directory:
    description: "Working directory (should be the ArmoniK repo root folder)"
    required: false
    default: ${{ github.workspace }}
  shared-data-folder:
    description: "Shared data folder to use with Extension Csharp"
    required: false
    default: ""
  log-suffix:
    description: "Suffix to append to the terraform output artifact"
    required: false
    default: "default"
  parameters-file-path:
    description: "Relative path for the Terraform configuration file, root being the ArmoniK repository. Empty keeps it to the default parameters.tfvars associated with your deployment type"
    required: false
    default: ""

outputs:
  terraform-output:
    description: "Terraform output of the deployment"
    value: ${{ steps.apply.outputs.terraform-output }}
  generated-folder:
    description: "Generated folder"
    value: ${{ steps.apply.outputs.generated-folder }}
runs:
  using: composite
  steps:
    - id: patch
      name: Patch versions
      shell: bash
      working-directory: ${{ inputs.working-directory }}
      env:
        CORE_VERSION: ${{ inputs.core-version }}
        GUI_VERSION: ${{ inputs.gui-version }}
        EXT_CSHARP_VERSION: ${{ inputs.ext-csharp-version }}
      run: |
        set -ex
        update_version() {
          local component version
          component="$1"
          version="$2"
          if [ -n "$version" ]; then
            jq ".armonik_versions.$component = \"$version\"" versions.tfvars.json > .versions.tfvars.json
            mv .versions.tfvars.json versions.tfvars.json
          fi
        }
        update_version core "$CORE_VERSION"
        update_version gui "$GUI_VERSION"
        update_version extcsharp "$EXT_CSHARP_VERSION"
    - id: options
      name: Patch options
      shell: bash
      working-directory: ${{ inputs.working-directory }}
      env:
        TLS: ${{ inputs.tls }}
        MTLS: ${{ inputs.mtls }}
        GENCERT: ${{ inputs.generate-client-cert }}
        CUSTOM_CA: ${{ inputs.custom-client-ca }}
        SHARED_HOST: ${{ inputs.shared-data-folder }}
        AUTHENTICATION: ${{ inputs.require-authentication }}
        AUTHORIZATION: ${{ inputs.require-authorization }}
        AUTH_DATAFILE: ${{ inputs.auth-datafile }}
        TRUSTED_CNS: ${{ inputs.trusted-cns }}
      run: |
        set -ex
        ingress() {
          local tls mtls gencert custom_ca
          tls="$1"
          mtls="$2"
          gencert="$3"
          custom_ca="$4"
          if [ "$tls" == "true" ]; then
            jq --argjson tls "$tls" --argjson mtls "$mtls" --argjson gencert "$gencert" --arg custom_ca "$custom_ca" \
            '.ingress={tls:$tls, mtls:$mtls, generate_client_cert:$gencert, custom_client_ca_file:$custom_ca}' extra.tfvars.json > .extra.tfvars.json
            mv .extra.tfvars.json extra.tfvars.json
          fi
        }
        ingress "$TLS" "$MTLS" "$GENCERT" "$CUSTOM_CA"
        if [ -n "$SHARED_HOST" ]; then
          jq --arg shared "$SHARED_HOST" '.shared_storage={host_path:$shared}' extra.tfvars.json > .extra.tfvars.json
          mv .extra.tfvars.json extra.tfvars.json
        fi
        auth() {
          local authentication authorization auth_datafile trusted_cns
          authentication="$1"
          authorization="$2"
          auth_datafile="$3"
          trusted_cns=$4
          if [ "$authentication" == "true" ]; then
            jq --argjson authentication "$authentication" --argjson authorization "$authorization" --arg auth_datafile "$auth_datafile" --argjson trusted_cns "$trusted_cns" \
            '.authentication={require_authentication:$authentication, require_authorization:$authorization, authentication_datafile:$auth_datafile, trusted_common_names:$trusted_cns}' extra.tfvars.json > .extra.tfvars.json
            mv .extra.tfvars.json extra.tfvars.json
          fi
        }
        auth "$AUTHENTICATION" "$AUTHORIZATION" "$AUTH_DATAFILE" "$TRUSTED_CNS"
    - id: apply
      name: Apply
      shell: bash
      working-directory: ${{ inputs.working-directory }}
      env:
        INPUT_TYPE: ${{ inputs.type }}
        INPUT_PREFIX: ${{ inputs.prefix }}
        PARAMETERS_FILE_PATH: ${{ inputs.parameters-file-path }}
      run: |
        set -ex
        if [ -n "$PARAMETERS_FILE_PATH" ]; then
          export PARAMETERS_FILE="$(pwd)/$PARAMETERS_FILE_PATH"
        fi
        cd infrastructure/quick-deploy/
        cd "$INPUT_TYPE"
        make PREFIX="$INPUT_PREFIX" deploy
        {
          echo 'terraform-output<<__GITHUB_EOF__'
          cat generated/armonik-output.json
          echo
          echo __GITHUB_EOF__
        } >> "$GITHUB_OUTPUT"
        cd generated
        echo "generated-folder=$(pwd)" >> "$GITHUB_OUTPUT"
    - name: Terraform output
      uses: actions/upload-artifact@v4
      with:
        name: terraform-output-${{ inputs.log-suffix }}
        overwrite: true
        path: |
          ${{ inputs.working-directory }}/infrastructure/quick-deploy/${{ inputs.type }}/generated
          !${{ inputs.working-directory }}/infrastructure/quick-deploy/${{ inputs.type }}/generated/infra-modules
          !${{ inputs.working-directory }}/infrastructure/quick-deploy/${{ inputs.type }}/generated/modules
          !${{ inputs.working-directory }}/infrastructure/quick-deploy/${{ inputs.type }}/generated/providers
          !${{ inputs.working-directory }}/infrastructure/quick-deploy/${{ inputs.type }}/generated/terraform-plugins
          !${{ inputs.working-directory }}/infrastructure/quick-deploy/${{ inputs.type }}/generated/.prefix
          !${{ inputs.working-directory }}/infrastructure/quick-deploy/${{ inputs.type }}/generated/**/.git
